html,
body {
  scrollbar-gutter: stable;
  font-family: "Roboto", sans-serif;
}

.bayan{
    margin: 0;
   }

.wrapper-input{
    display:none;
}

.wrapper-input-trigger{
    cursor: pointer;
}

.bayan{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
}

.bayan-item {
    position: static;
    position: flex;
    justify-content: center;
    color:rgb(7, 124, 187);
    text-align:center;
    border: 1px solid;
    border-width: 0.01em 0 0 0;
}

.bayan-input {
    position:static;
    display:none;
}

.bayan-content-input{
    display:none;
}

.bayan-trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor:pointer;
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.bayan-content {
    cursor:pointer;
    max-width: 100vw;
    border-top:none;
    display:none;
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.content-trigger{
    cursor: pointer;
}

.bayan-item img{
    width: 60%;
    height: 40vh;
}

img{
    width: 50%;
    height: auto;
}

p {
    font-size: 1.5em;
    font-weight: bold;
}



.animation {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
            transition:         transform .8s ease-in-out;
  }

.bayan-input:checked ~ .bayan-trigger{
    background-color: #eee;
    color: black;
}

.bayan-input:checked ~ .bayan-content{
    background-color: #eee;
    display: block;
}

.bayan-input:checked ~ .bayan-trigger .animation{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bayan-input:hover ~ .bayan-trigger{
    color: black;
}

/* :active */
.bayan-input:active ~ .bayan-trigger{
    opacity:0.5;
}

.bayan-input:active ~ .bayan-content{
    opacity:0.5;
}


.bayan-input:hover ~ .bayan-trigger{
    color: black;
}

.bayan-trigger:hover ~ .bayan-content{ 
    display: block;
}

.wrapper-input-trigger:hover > div p{ 
    opacity: 1;
    color: black;
}

.bayan-content:hover{
    display:block;
    
}

.bayan-input:hover ~ .bayan-trigger .animation{ 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
