html,
body {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
}

.bayan{
    margin: 0;
   }

.wrapper-input{
    display:none;
}

.wrapper-input-trigger{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.bayan{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
}

.bayan-item {
    position: static;
    color:rgb(7, 124, 187);
    text-align:center;
    border: 1px solid;
    border-width: 0.01em 0 0 0;
}

.inside-block{
    height:100%;
}

.inside-block img{
    height:100%;
    weight:100%;
}
.bayan-input {
    position:static;
    display:none;
}

.bayan-content-input{
    display:none;
}

.bayan-trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor:pointer;
    transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    
}


.bayan-content {
    cursor:pointer;
    max-width: 100vw;
    border-top:none;
    height:0;
    overflow: hidden;
    transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    
}

.content-trigger{
    cursor: pointer;
}

p {
    font-size: 1.5em;
    font-weight: bold;
}

.animation {
    padding:0rem;
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
            transition:         transform .8s ease-in-out;
  }

/* :checked */

.bayan-input:checked ~ .bayan-trigger{
    background-color: #eee;
    color: black;
    
}

.bayan-input:checked ~ .bayan-content{
    background-color: #eee;
    height:30vw;
    
    
}

.bayan-input:checked ~ .bayan-trigger .animation{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* :hover */

@media (any-hover: hover) {
    .bayan-input:hover ~ .bayan-trigger{
        color: black;
    }
    
    .bayan-input:hover ~ .bayan-trigger{
        color: black;
    }
    
    .bayan-trigger:hover ~ .bayan-content{ 
        height:30vw;
    }
    
    .wrapper-input-trigger:hover > div p{ 
        opacity: 1;
        color: black;
    }
    
    .bayan-content:hover{
        height:30vw;
    }
    
    .bayan-input:hover ~ .bayan-trigger .animation{ 
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    /* :active */
.bayan-input:active ~ .bayan-trigger{
    opacity:0.5;
}

.bayan-input:active ~ .bayan-content{
    opacity:0.5;
}
}

@media screen and (min-device-width: 320px) and (min-device-height: 568px) {

    body{
        font-size:0.2rem;
    }

    .animation{
        opacity:1;
    }
}

@media screen and (min-device-width: 820px) and (min-device-height: 1180px) {

    body{
        font-size: 0.5rem;
    }

    .animation{
        opacity:1;
    }
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) {
    body{
        font-size:5rem;
    }
}

